@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Anasayfa</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <meta name="viewport" content=meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge/">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class="col-lg-8">
        icerikler
    </div>

    <div class="col-lg-4">
        sag
            <div class="col-lg-12">
                Yemekçiler
            </div>

            <div class="col-lg-12">
                Nöbetçiler
            </div>

            <div class="col-lg-12">
                Durumlar
            </div>
    </div>

    <div class="col-lg-12">
        Alt (duyurular)
    </div>
</body>
</html>
